<configuration>


	<appender name="CONSOLE_JSON_APPENDER"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>


	<Logger name="CONSOLE_JSON_APPENDER" level="TRACE" additivity="false">
		<AppenderRef ref="CONSOLE_JSON_APPENDER" />
	</Logger>
	<root level="DEBUG">
		<appender-ref ref="CONSOLE_JSON_APPENDER" />
	</root>

</configuration>